extends ../template-full.jade

block content
    section.hero.is-primary
        .hero-body
            h1.title 404: Page Not Found
            br
            h2.subtitle 
                | The page you were looking for does not exist. 
                br
                | If you believe this is an error, please report it to Aryan or Nikunj (not Devansh or Vidush).
    section.section
        .container
            .content
            | You might find the following resources useful: (1) Yourself.