extends ../template.jade

block content
    section.container
          .columns.features
            .column.is-4
              .card.is-shady
                .card-image.has-text-centered
                  i.fa.fa-paw
                .card-content
                  .content
                    h4 Who we are 
                    p Four college students in the middle of the cornfields of Iowa on a mission
                    p
                      a(href='#') Learn more
            .column.is-4
              .card.is-shady
                .card-image.has-text-centered
                  i.fa.fa-empire
                .card-content
                  .content
                    h4 Why we do what we do
                    p
                      | We have experienced college-induced hunger ourselves, and we do not want anyone else to go through the same
                    p
                      a(href='#') Learn more
            .column.is-4
              .card.is-shady
                .card-image.has-text-centered
                  i.fa.fa-id-card-o
                .card-content
                  .content
                    h4  Our Mission  
                    p Eradicate. College. Hunger
                    p
                      a(href='#') Learn more
          .intro.column.is-8.is-offset-2
            h2.title Connecting Hungry Students to Meals in a revolutionary way
            br
            p.subtitle
              | Using the principle of allocative efficiency, Foodshare is a means for students in search of food to find it
          .sandbox
            .tile.is-ancestor
              .tile.is-parent.is-shady
                article.tile.is-child.notification.is-white
                  p.title What is Allocative Efficiency?
                  p.subtitle
                    | An economic concept that occurs when the output of production is as close as possible to the marginal cost
              .tile.is-parent.is-shady
                article.tile.is-child.notification.is-white
                  p.title Huh?
                  p.subtitle
                    | In simpler terms, it guarantees a proper allocation of resources based on the needs and wants of consumers.
              .tile.is-parent.is-shady
                article.tile.is-child.notification.is-white
                  p.title IDK
                  p.subtitle Think of Tinder, but for food
                  .content
                    p
                      | Just like Tinder connects people in need of ~stuff~ , FoodShare brings together college students with extra meals/food, and students who are in search of food
            .tile.is-ancestor
              .tile.is-vertical.is-8
                .tile
                  .tile.is-parent.is-vertical
                    article.tile.is-child.notification.is-white
                      p.title Why wouldn't you just go to the D-Hall?
                      p.subtitle
                        | Maybe you're not in the mood to walk all the way from Norris to the JRC in the brutal Iowan winter. Maybe you don't feel well enough to cook for yourself.
                  .tile.is-parent
                    article.tile.is-child.notification.is-white
                      p.title Food needs money
                      p.subtitle Charity may not be the best long-term solution
                      figure.image.is-4by3
                        img(src='https://dihmh4v20db76.cloudfront.net/c9352f0364c9eb7422d270c882fa0623%2F565x0xwidth%2F75%2Fhttp%2Fwww.cash-is-cool.com%2Fuloop%2Fr%3D305%2Fjpg%2Fimages%2Farticle%2F20110704211150Starving+students+saving+tin+can.jpg')
              .tile.is-parent.is-shady
                article.tile.is-child.notification.is-white
                  .content
                    p.title Sounds Relatable, but I'm still not convinced
                    p.subtitle Think money. Think food prices.
            .tile.is-parent.is-shady
              article.tile.is-child.notification.is-white
                center
                  p.title Wait, you can save money?
                  p.subtitle Yep
                  .content
                    p
                      | Not everyone wants to pay $3300 to be on the meal plan. Maybe the lower plans aren't super convenient for people
            .tile.is-ancestor
              center
                .tile.is-parent.is-shady
                  article.tile.is-child.notification.is-white
                    p.title So I can buy someone else's meals?
                    p.subtitle Basically, yeah
                    .content
                      p
                        | Let's say Student A has a few meals left over for a week that they won't be using. Student B is too busy with the practice for their play to make a trip to the D-Hall. Student B can pay Student A to make a to-go box, which they can then collect from Student A.