extends ../template-full.jade

block content
  section.hero.is-primary.is-large
    .hero-body
      .container
        h1.title
          | To Feed Or To Be Fed
        h2.subtitle
          br
          | For too long Grinnellians have had to pay exorbitant amounts of money just to feed themselves. No longer!
          br
          | With Food Share, we can transform the Dining Hall into a communal meal plan.
        a.button(href='/match') Find Your Match 
  section.hero
    .hero-body
      .container
        h1.title.has-text-centered
          | How Food Share Works
        .columns.has-text-centered
          .column
            figure.image.is-centered.is-128x128
              img(src='https://image.flaticon.com/icons/svg/145/145867.svg')
            p.has-margin-top
              | Create an account and add details such as meal plan, guest meals, etc. 
          .column
            figure.image.is-centered.is-128x128
              img(src='https://image.flaticon.com/icons/svg/475/475517.svg')
            p.has-margin-top
              | Choose if you are looking for food or want to help someone get food.
          .column
            figure.image.is-centered.is-128x128
              img(src='https://image.flaticon.com/icons/svg/719/719046.svg')
            p.has-margin-top
              | Based on your preferences, Food Share matches you with another person. Happy eating!