extends ../../template.jade

block content
    section
        .container.has-text-centered
            .column.is-8.is-offset-2
                h3.title.has-text-grey Signup
                p.subtitle.has-text-grey Please signup to proceed.
                .box
                    form
                        .field
                            .control
                                input.input(type='text', placeholder='Your Name', autofocus='')
                        .field
                            .control
                                input.input(type='email', placeholder='Your Grinnell Email', autofocus='')
                        .field
                            .control
                                input.input(type='password', placeholder='Your Password')
                        .field
                            .control
                                input.input(type='password', placeholder='Confirm Password')
                        button.button.is-primary.is-fullwidth Signup
                p.has-text-grey
                    a(href='/login') Login Instead