footer.footer
  block footerScripts
  .container
    .content.has-text-centered
      p
        strong FoodShare Uninc.
          |  by 
          a(href='https://www.cs.grinnell.edu') a HackGC Team
          | . The source code is probably licensed
          a(href='https://www.grinnell.edu/sites/default/files/grinnell_main_logo_0.png')  by us
          | .
      p
        a.icon(href='https://github.com/dansup/bulma-templates')
          i.fa.fa-github
  script(async='', type='text/javascript', src='../js/bulma.js')