nav.navbar
  .navbar-brand
    a.navbar-item(href='/') FoodShare
    .navbar-burger.burger(data-for='mainNav')
      span
      span
      span
  #mainNav.navbar-menu
    .navbar-start
      a.navbar-item(href='/')
        | Home
      a.navbar-item(href='/profile')
        | Profile
      a.navbar-item(href='/chat')
        | Chat
      a.navbar-item(href='/match')
        | Match
    .navbar-end
      a.navbar-item.is-primary(href='/login')
        | Login 
        
