doctype html
html
    include ./templates/header.jade
    body
        include ./templates/navbar.jade
        section.section
            .container
                block content
    include ./templates/footer.jade