extends ../template.jade

block content
    section.hero.is-primary
        .hero-body
            .container
                h1.title
                    | 404: Page Not Found
                h2.subtitle
                    | The page you were looking for does not exist. 
                    br
                    | If you believe this is an error, please report it to Aryan or Nikunj (not Devansh or Vidush).
    section.section
        .container
            .content
                | You might find the following resources useful: -
                ul
                    li Sup